/* common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

main {
    display: flex;
    justify-content: center;
}


.container {
    width: 870px;
    background-color: #ffffff;
    padding: 30px;


}

.heading-two {
    font-size: 24px;
    color: #562EFF;
}

.player {
    display: flex;
    align-items: center;


}

.players-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}